
<!DOCTYPE html>
<html>
<head>
  <title>basic html for seasons.rb- HTML basics </title>
  <link rel="stylesheet" type="text/css" href="style_2.css">
</head>
  <body>
    <%= yield %>
  </body>
  </html>
  
  